<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de juegos</title>
</head>
<body>
    <table>
        <thead>
        <tr>

            <th>Titulo</th>
            <th>Genero</th>
            <th>Plataforma</th>
            <th>Precio</th>
            <th>Disponibilidad</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="juego: ${juegos}">
                <td th:text="${juego.titulo}"></td>
                <td th:text="${juego.genero}"></td>
                <td th:text="${juego.plataforma}"></td>
                <td th:text="${juego.precio}"></td>
                <td>
                    <span th:if="${juego.disponible}">En stock</span>
                    <span th:unless="${juego.disponible}">Agotado</span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>