<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saludo Dinamico</title>
</head>
<body>
<h1 th:text="${saludo}" th:style="${claseCss}">Saludo por defecto</h1>

<hr>
<h3> Objetos implicitos y utilidades de Thymeleaf</h3>

<ul>
    <li>
        <strong>1: Obteniendo daos de la sesion</strong>
        <span th:text="${session.operador}" style="color: purple; font-weight:bold">Operador</span>
    </li>

    <li>
        <strong>2. Obteniendo parametro de la peticion http</strong>
        <span th:text="${param.nombre != null ? param.nombre: 'Sin nombre'}" style="color: red; font-weight:bold">Operador</span>
    </li>

    <li>
        <strong>3. Utilidades</strong>
        Fecha actual formateada: <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}" style="color: red; font-weight:bold">Operador</span>
    </li>

</ul>

</body>
</html>

